{% extends 'web/base.html' %}
{% load static %}
{% block title%}
    <title>KKSS</title>
{% endblock %}
{% block body %}
<!-- Start Categories of The Month -->
    <section class="container py-5">
        <div class="row text-center pt-3">
            <div class="col-lg-12 m-auto">
                <h1 class="h1">{{rows1.judul_berita}}</h1>
                
            </div>
        </div>
		
        <div class="row">
            <div class="">
              
             <div class="text-center">
   				<img src="{{rows1.foto_berita.url}}" class="img-fluid" style="width:100%"/>
			</div>
            </div>
			<p>
			{{rows1.author}}, {{rows1.tanggal}}
			</p>
            <p>
					{{rows1.isi_berita}}
			</p>
        </div>
    </section>
    <!-- End Categories of The Month -->

{% endblock body %}
 {% block js %}
 {% endblock %}
